.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.categories button {
  padding: 8px 16px;
  background-color: #636161;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.2s ease;
}


.categories button {
    color: white
}

.search-bar button {
    color:white
}
.categories button:hover {
  background-color: #e0e0e0;
}

.no-cards{
    color: black
}

.categories button.active {
  background-color: #007bff;
  color: white;
  border-color: #0056b3;
}

.categories button.create-board {
  background-color: #1d8636;
  color: white;
  border-color: #28a745;
}

.categories button.create-board:hover {
  background-color: #218838;
  border-color: #1e7e34;
}


@media (max-width: 768px) {
  .categories {
    flex-direction: column;
    align-items: stretch;
  }

  .categories button {
    margin-bottom: 5px;
  }
}
