.theme-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.theme-toggle-button {
  background: none;
  border: none;
  border-color: none;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  background-color: transparent;
}

.theme-toggle-button:hover {
  transform: scale(1.2);
  border-color: none;
}


[data-theme='light'] .theme-toggle-button {
  color: #333;
  background-color: transparent;
  border-color: none;
}


[data-theme='dark'] .theme-toggle-button {
  color: #fff;
  background-color: transparent;
  border-color: none;
}
